{% extends 'core/base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

{% block background %}{% static 'core/images/mueble5.jpg' %}{% endblock %}

{% block headers %}
	<!-- Static Header -->
    <div class="header-text">
       	<div class="header-text-inner">
            <h1>ACERCA DE NOSOTROS</h1>
        </div>
    </div><!-- /header-text -->
{% endblock %}

{% block content %}
	<div>
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->

				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">HISTORIA</h1>
						</div>
						<div class="post-thumbnail-wrap">
							<div class="portfolio-box zoom-effect">
								<img src="images/faranda.jpg" class="img-responsive" alt="">
							</div>
						</div>
						<div class="entry-content">
							<h2>Aranda Amoblamientos</h2>
							<div class="excerpt"><p>
							</p></div><br>
							
							<h2>Misión</h2>
							<img src="" width="280px"/>
							<p>descripcion de la mision  de aranda </p><br>
							
							<h2>Visión</h2>
							<p>descripcion de la vision 
							</p><br>
							
							<h2>Valores</h2>
							<p>•aqui van los valores 
							</p>
							
						</div>
					</div>
				</article>
			
			</div>	
		</div>
	</div>
{% endblock %}