{% extends 'core/base.html' %}

{% load static %}

{% block title %}About us{% endblock %}

{% block background %}{% static 'core/images/mueble5.jpg' %}{% endblock %}

{% block headers %}
	<!-- Static Header -->
    <div class="header-text">
       	<div class="header-text-inner">
            <h1>ACERCA DE NOSOTROS</h1>
        </div>
    </div><!-- /header-text -->
{% endblock %}

{% block content %}
	<div>
		
		<div class="box-content">
			<div class="container">
				<!-----------------Content-------------------->

				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">HISTORIA</h1>
						</div>
						<div class="post-thumbnail-wrap">
							<div class="portfolio-box zoom-effect">
								<img src="images/faranda.jpg" class="img-responsive" alt="">
							</div>
						</div>
						<div class="entry-content">
							<h2>Aranda Amoblamientos</h2>
							<div class="excerpt"><p>
							</p></div><br>
							
							<h2>Misión</h2>
							<img src="" width="280px"/>
							<p>Nuestra Aranda Amoblamientos es poner a tu disposición mobiliario y accesorios modernos, conservadores, contemporáneos, que conlleven calidad, innovación tecnológica, tendencias y estilos internacionales, sustentados en la constante búsqueda de corrientes estéticas, así como propuestas con nuevos materiales, formas, colores y estilos, con el compromiso de mejorar día con día y estar a la vanguardia, con el propósito de satisfacer las necesidades de nuestros clientes. </p><br>
							
							<h2>Visión</h2>
							<p>La visión de Aranda Amoblamientos es ser una empresa con proyección nacional e internacional, lo cual será posible mediante el esfuerzo, dedicación y profesionalismo de nuestro equipo de trabajo, tomando en cuenta las tendencias del mercado, las necesidades actuales y futuras de nuestros clientes, seguirnos renovando y actualizando en esta área para llegar a ser la mejor opción para el público de venta de muebles y accesorios en decoración para residencias, oficinas, hoteles, restaurantes, hospitales y mucho más.

 
							</p><br>
							
							<h2>Valores</h2>
							<p>•Honestidad
							<p>•Responsabilidad
							<p>•Etica profesional

							</p>
							
						</div>
					</div>
				</article>
			
			</div>	
		</div>
	</div>
{% endblock %}